@font-face {
  font-family: "League Spartan";
  src: url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
}

:root {
  /* Primary */
--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);

  /* Neutral */
--DarkGrayishMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg-pattern-top-desktop.svg"), url("bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  font-family: "League Spartan";
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.card-top {
  width: 62.5rem;
  height: 50%;
  display: flex;
  border: 1px solid black;
}

.top-left {
  height: 100%;
  width: 50%;
  padding: 2rem 4.5rem 1.5rem 1rem;
}

.top-left p:first-of-type {
  font-size: 3rem;
  font-weight: 700;
  color: var(--VeryDarkMagenta);
  margin-bottom: 1.25rem;
}

.top-left p:last-of-type {
  font-size: 1rem;
  color: var(--DarkGrayishMagenta);
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.top-right {
  height: 100%;
  width: 50%;
}

.rating {
  display: flex;
  background-color: var(--LightGrayishMagenta);
  padding: .938rem 1rem;
  color: var(--VeryDarkMagenta);
  font-size: .938rem;
  font-weight: 700;
  border-radius: .5rem;
}

.rating:first-of-type {
  margin-top: 4rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.rating:nth-of-type(2) {
  margin-top: 0;
  margin-right: 6rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.rating:last-of-type {
  margin-top: 0;
  margin-right: 4rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.stars {
  margin-right: .25rem;
}

.stars:last-of-type {
  margin-right: 1rem;
}

.card-bottom {
  width: 50rem;
  height: 50%;
  display: flex;
  border: 1px solid black;
  padding: 2rem 1rem;
}

.buyer-info {
  background-color: var(--VeryDarkMagenta);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: .5rem;
}

.buyer-info img {
  border-radius: 50%;
  height: 2.188rem;
  width: 2.188rem;
}

.buyer-info:first-of-type {
  margin-top: 2rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  margin-left: .5rem;
}

.buyer-info:nth-of-type(2) {
  margin-top: 3rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

.buyer-info:last-of-type {
  margin-top: 4rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.name {
  display: flex;
  flex-direction: column;
}

.name p:first-of-type {
  font-size: 1rem;
  color: var(--White);
}

.name p:last-of-type {
  font-size: 0.938rem;
  color: var(--SoftPink);
}

.buyer-quote {
  color: var(--LightGrayishMagenta);
  text-align: justify;
/*  margin: 0 1.5rem; */
}

.buyer1, .buyer2, .buyer3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
