@font-face {
  font-family: "League Spartan";
  src: url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
}

:root {
  /* Primary */
--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);

  /* Neutral */
--DarkGrayingMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg-pattern-top-desktop.svg"), url("bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  font-family: "League Spartan";
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.card-top {
  width: 62.5rem;
  height: 50%;
  display: flex;
  border: 1px solid black;
}

.top-left {
  height: 100%;
  width: 50%;
  padding: 1rem 4rem 1.5rem .5rem;
  border: 1px solid black;
}

.top-left p:first-of-type {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--VeryDarkMagenta);
}

.top-left p:last-of-type {
  font-size: 0.938rem;
  color: var(--VeryDarkMagenta);
  line-height: .5rem;
}

.top-right {
  height: 100%;
  width: 50%;
  border: 1px solid black;
}

.card-bottom {
  width: 50rem;
  height: 50%;
  display: flex;
  border: 1px solid black;
}


